:root {
    --input-bg-color: #F2F0F0; /* Cor padrão */
    --button-border: none;
    --button-color: #000000;
    --button-text-align: center;
    --button-text-decoration: none;
    --button-display: inline-block;
    --button-font-size: 16px;
    --button-cursor: arrows;
    --button-border-radius: 16px;
    --button-width: 482px;
    --button-height: 68px;
}

/* Estilos globais para todos os inputs */
input {
    background-color: var(--input-bg-color);
    border: var(--button-border);
    color: var(--button-color);
    text-align: var(--button-text-align);
    text-decoration: var(--button-text-decoration);
    display: var(--button-display);
    font-size: var(--button-font-size);
    cursor: var(--button-cursor);
    border-radius: var(--button-border-radius);
    width: var(--button-width);
    height: var(--button-height);
}