@import url('../global.css');

#Button-normal {
    background-color: var(--button-bg-color);
    border: var(--button-border);
    color: var(--button-color);
    text-align: var(--button-text-align);
    text-decoration: var(--button-text-decoration);
    display: var(--button-display);
    font-size: var(--button-font-size);
    cursor: var(--button-cursor);
    border-radius: var(--button-border-radius);
    width: var(--button-width);
    height: var(--button-height);
}

/* Se precisar alterar a cor específica para este botão */
#Button-normal {
    --button-bg-color: #555555; /* Cor específica para este botão */
}

#Button-normal:hover {
    background-color: #2A2FB0;
}